<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.test.kad"
    version="0.0.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Price calc</name>
    <description>
        Подсчёт единицы продукта за килограмм
    </description>
    <author>
        anderson
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
